# .vs/
# bin/
# obj/


## Build
**/*.[ou]bj
**/*.exe
**/*.pdb
**/*.dll
**/*.suo
**/*.user
**/*.bak
**/*.cache
**/*.ncb
**/*.scc
**/*.vspscc
**/*.vssscc
**/*.build.log
**/*.log
**/*.ipdb
**/*.i

# Binaries y artefactos intermedios de build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Tt]emp/
**/*.tmp
**/*.obj

# Visual Studio files
.vs/ # Ignore the .vs folder, which is an IDE-specific cache
*.csproj.user
*.vcxproj.user
*.sln.ide
*.vssscc
*.vspscc
*.suo

# Ignorar archivos temporales de Visual Studio
.vs/
bin/
obj/

appsettings.json



