nav.navbar {
    background: #171a21;
    padding: 15px 25px;
    display: flex;
    justify-content: flex-end; /* 👉 Alinea los links a la derecha */
    font-family: "Poppins", sans-serif;
}

.navbar a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.navbar a:last-child {
        margin-right: 0;
}
.nav-links {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #c7d5e0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.nav-links a:hover {
    color: #66c0f4;
}

.navbar .logo {
    font-size: 22px;
    color: #c7d5e0;
    font-weight: bold;
}
